
.contComoDoar{
  background: #FFFFFF;

  height: 120vh;
 
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  
}

.divTituloComoDoar{
  font-family: 'Hammersmith One', sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #33168D;
  text-align: center;
  margin-top: 30px;
}

.image{
  width: 350px;
  height : 270px;
  
}

.imagePassos{
  height: 180px;
  
  margin-left: 25px;
  
  
}

.requisitos{
  display: flex;
  flex-direction: row;

  background : white;  
  height : 100px;
  width : 100%;
  
  
   padding: 0px;
  align-items: center;
  justify-content: center;
      
}

.requisitos > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 40px 30px;
}
.requisitos > div > p{
  width : 210px;
  text-align : center;
  font-family: 'Quicksand', sans-serif;
  color: #323232
}

.requisitos > div > span {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  color: #33168D;
  font-size: 25px;
}
.imageRequisitos{
  width: 80px;
  height: 74px;
}

.div3{
  display: flex;
  background : #0B6945 ; 
  height : 400px;
   width : 100%;
   padding-top: 50px;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.donate-instructions{
  text-align: center;
  color: #FFF;
  font-size: 30px;
  font-family: 'Hammersmith one', sans-serif;
  text-transform: uppercase;
  
  margin-bottom: 30px;
  
  
  
}


.div3 > div > h2, p{
  font-family: 'Quicksand', sans-serif;
  color : #FFFFFF
}


.carousel{
  display: flex;
  width: 300px;
 

   align-items: center;

  overflow:  hidden;

}

.carousel-item{
  width: 300px;
 
  flex : none
}


.steps-text{
  padding-left: 5px;
  padding-right: 5px;
}
.carousel-container{
  display: flex;
 
  
  align-items: center;
  justify-content: center;
  
  margin-bottom: 80px;
  
}

 .button{
     display: flex;
     justify-content: center;
     align-items: center;
    
}
.button > img{
  height: 40px;
}