

.imgTitle{
  background-color: #fff;
  text-align: center;
  color: #9098e0;
  margin: 0;
  margin-top: 40px;
  font-size: 30px;
  @media screen and (max-width: 768px){
    font-size: 14px;
    padding: 30px 10px;
    text-align: center;
  }
}
.sub-title{
  margin: 0;
}

.imgInfoGraphic{
  background-color: #9098e0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.titleConfig{
  width: 60%;
  height: 50%;
  align-items: center;
  @media screen and (max-width: 768px){
    width: 100%;
  }
}
.infographicConfig{
  width: 50%;
  height: 50%;
  align-items: center;
  @media screen and (max-width: 768px){
    width: 100%;
  }
}