.contatoContainer {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    background: #FFFFFF;
}

.campo {
    width: 240px;
    margin: 10px;
    padding: 10px 6px;
    border: 2px solid #9098E0;
    border-radius: 5px;
}

.select {
    width: 249px;
    margin: 12px;
    padding: 10px 6px;
    border: 2px solid #9098E0;
    border-radius: 5px;
}