

.contatoContainer{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items:center;
    background: #FFFFFF;
}

.campo{
    width: 240px;
    margin: 10px;
}

.select{
    width: 249px;
    margin: 12px;
}