.container3{
  text-align: center;
  max-height: 400px;
  background-color:#B2DECD ;
  margin-bottom: 30px;
  @media screen and (max-width: 768px){
    max-height: 800px;
  }
  }
  
  .imgGroup{
    display:flex;
    align-items:center;
    justify-content:space-around;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .picture-text{
    font-family: 'Quicksand', sans-serif;
    @media screen and (max-width: 768px){
      font-size: 18px;
     
    }
  }
  