#wrap1 {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}


#wrap2 {
    max-width: 625px !important;
    padding: 60px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
