.container{
    background-image: url(../../../images/bacground2.png);
    display: flex;
  
}

.d-flex{
    display: flex;
    justify-content: space-around;
}

.card-bank{
   padding: 50px 180px;

}
.card-location{
    border: 2px solid #9098e0 ;
    background-color: #9098e0;
    box-shadow: 5px 5px 3px 0px #9098e0;
    border-radius: 10px;
    color:#fff;
    margin-bottom:30px;
    padding: 10px 0px;
    width: 70%;
    text-align: center;
    display: flex;
}
.card-infor{
   border: 2px solid #f3f2f2;
   border-radius: 10px;
    margin-bottom:30px;
    padding: 20px 0px;
    width: 70%;
    text-align: center;
    box-shadow: 5px 5px 3px 0px rgb(240, 240, 240);
}
.icon{
   width: 65%;
margin-top: 10px;
   color: #606060;
}