body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
}

.bannerprincipal{
  width: 100%;
  background-color: #9098e0;
}

.app{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.info-home{
  font-family: 'Hammersmith One', sans-serif;
  font-weight: lighter;
  font-size: 50px;
  color:black;
  text-align: center;
  padding: 80px;
  @media screen and (max-width: 768px){
    font-size: 18px;
    padding: 10px 0px;
    text-align: center;
  }

     
  
}

.container2{
  max-height: 500px;

}